<app-navigation-bar #navigationBar
                    title="Devices"
                    [back]="['party', 'queue']"
                    actionIconClass="ic-reload"
                    (action)="refresh()"
                    class="fixed-bar-top"></app-navigation-bar>

<div class="devices-container"
     [ngStyle]="{ 'paddingTop': navigationBarHeight + 'px'}">

  <ul *ngIf="!loading && spotifyDevices && spotifyDevices.length > 0" class="results list-group list-group-flush" [@fadeIn]>
    <button *ngFor="let device of spotifyDevices"
            class="device list-group-item list-group-item-action d-flex align-items-center justify-content-between"
            [class.device-active]="device.is_active"
            [class.disabled]="loadingDevice?.id == device.id"
            (click)="onClickDeviceItem(device)">
      <div class="d-flex align-items-center">
        <div *ngIf="device.is_active" class="ic ic-headphones mr-3"></div>
        <div>
          <div>{{ device.name }}</div>
          <div class="subheading">
            {{ device.type }}
          </div>
        </div>
      </div>
      <div *ngIf="loadingDevice?.id == device.id " class="spinning-loader"></div>
    </button>
  </ul>

</div>
