<div *ngIf="loading" class="loading-spinner">Loading....</div>
<div *ngIf="!loading" class="queue-container">
  Queue loaded
  <br> {{ message }}
</div>

<div class="membership-status">
  <div *ngIf="currentParty?.membershipStatus == partyMembershipStatus.pendingMember">
    Waiting for {{currentParty.owner}} to respond to your request to join {{currentParty.name}}
  </div>
  <div *ngIf="currentParty?.membershipStatus == partyMembershipStatus.member">
    You are a member of {{currentParty.name}}
  </div>
  <div *ngIf="currentParty?.membershipStatus == partyMembershipStatus.owner">
    You are the owner of {{currentParty.name}}
  </div>
</div>
