<div *ngIf="loading" class="loading-spinner">Loading....</div>
<div *ngIf="!loading" class="queue-container">
  Queue loaded
  <br> {{ message }}
</div>

<div class="membership-status">
  <div *ngIf="isPendingMember()">
    Waiting for {{currentParty.owner.username}} to respond to your request to join {{currentParty.name}}
  </div>
  <div *ngIf="isMember()">
    You are a member of {{currentParty.name}}
  </div>
  <div *ngIf="isOwner()">
    You are the owner of {{currentParty.name}}
  </div>
</div>
