.navigation-bar-container {

  background-color: #2f2f2f;
  height: 56px;

  .back-button {
    position: absolute;
    left: 0.75rem;
  }

  .title {
    font-weight: 500;
  }

  .action-button {
    position: absolute;
    right: 0.75rem;
    
  }
}
