.party-container {

  .connect-spotify-container {
    position: fixed;
    bottom: 0;
    background-color: #1DB954;
  }

  .playback-overlay {
    position: fixed;
    bottom: 0;
    background-color: #3f3f3f;
    z-index: 9;
    color: #dddddd;
    width: 100%;
    text-align: center;
    padding: 8px 4px;

    .current-track {
      .title {
        color: white;
      }
    }

    .device-info {
      font-size: 12px;

      .device-name, connect-to-device {
        width: fit-content;
        color: #76cf15;
      }

      .connect-to-device {
        color: #bbbbbb;
      }
    }

    .playback-controls {


    }
  }
}
