.search-container {

  .input-container {
    background-color: #2f2f2f;
    height: 56px;
  }

  input {
    border: none;
    border-radius: 0;
    background: none;
    color: white;
    caret-color: #1DB954;

    &:focus {
      outline: 0px !important;
      box-shadow: none;
    }
  }



  .results {
    .track {
      cursor: pointer;

      .track-subheading {
        font-size: 12px;
        color: gray;
      }
    }
  }
}
