<app-navigation-bar #navigationBar
                    [title]="currentParty ? currentParty.name : 'My Party'"
                    class="fixed-bar-top"></app-navigation-bar>

<div class="queue-container"
     [ngStyle]="{ 'paddingTop': navigationBarHeight + 'px'}">

  <ng-container *ngIf="loading" class="loading-spinner">
    Loading....
  </ng-container>

  <div *ngIf="!loading && currentParty" [@fadeInOut]>

    <div class="main-container pt-1">

      <ul class="queue list-group list-group-flush">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center clickable"
            [routerLink]="['/party/members']">
          <div class="d-flex justify-content-between align-items-center">
            <div>Members ({{ currentParty.members.length + 1 }})</div>
          </div>
          <div class="ic user-green"></div>
          <!--<div class="ic-right-chevron-white"></div>-->
        </li>
      </ul>

      <div class="section-header d-flex list-item-padding pb-2 justify-content-center align-items-center">
        <div class="header-text">Song Queue</div>
        <div class="ic plus-green-circle header-button clickable" (click)="onClickAddTrack()"></div>
      </div>

      <!--debug button-->
      <button class="btn" (click)="onClickDebug()">Debug</button>

      <ul class="queue list-group list-group-flush">
        <li *ngFor="let queueItem of currentParty?.queueItems" class="track list-group-item">
          <div class="track-title">{{ queueItem.title }}</div>
          <div class="subheading d-flex justify-content-between">
            <span>{{ queueItem.artist }}</span>
            <span class="remove-track" (click)="onClickRemoveTrack(queueItem)">Remove</span>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>


