/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #191414;
  color: white;
}

.fixed-bar-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

button.btn {
  border-radius: 1px;
}

.btn.btn-spotify {
  background-color: #1DB954;
  color: white;
}

.btn.btn-spotify-white {
  background-color: white;
  color: #1DB954;
  font-weight: 500;
}

.section-header {
  .header-text {
    font-weight: 500;
  }

  .header-button {
    position: absolute;
    right: 16px;
  }
}

.list-group-flush .list-group-item, .list-item-padding {
  padding: .375rem 16px;

  .subheading {
    font-size: 12px;
    color: #bbbbbb;
  }
}

.list-group-flush .list-group-item {
  color: white;
  background: none;
  border: none;
}

.list-group-flush .list-group-item.list-group-item-action {
  transition: color 0.15s;
}

.list-group-flush .list-group-item.list-group-item-action:hover {
  color: #9c9c9c;
}

.ic {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.ic.ic-left-chevron-white {
  width: 18px;
  height: 18px;
  background-image: url("assets/left-chevron-white.svg");
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

*:focus {
  outline: none;
}

