/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'app/styles/icons.scss';
@import 'app/styles/loader.scss';

body {
  background-color: #191414;
  color: white;
}

.fixed-bar-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

button.btn {
  border-radius: 1px;
}

.btn.btn-spotify {
  background-color: #1DB954;
  color: white;
}

.btn.btn-spotify-white {
  background-color: white;
  color: #1DB954;
  font-weight: 500;
}

.section-header {
  .header-text {
    font-weight: 500;
  }

  .header-button {
    position: absolute;
    right: 16px;
  }
}

.list-group-flush .list-group-item, .list-item-padding {
  padding: .375rem 16px;

  .subheading {
    font-size: 12px;
    color: #bbbbbb;
  }
}

.list-group-flush .list-group-item {
  color: white;
  background: none;
  border: none;
}

.list-group-flush .list-group-item.list-group-item-action {
  transition: color 0.3s;
  cursor: pointer;

  &.disabled {
    color: #bbbbbb;
  }
}

.clickable {
  cursor: pointer;
}

button.btn {
  box-shadow: none !important;
}

*:focus, button.btn:focus, button.btn:active {
  outline: none !important;
}
