<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Pending invite</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ request.username }} wants to join your party
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Decline</button>
  <button type="button" class="btn btn-success" (click)="modalRef.hide()">Accept</button>
</div>
